{% extends 'base.html.twig' %}

{% block title %}Audiovisual index{% endblock %}

{% block body %}
    <h1>Audiovisual index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RutaAudiovisual</th>
                <th>PieAudiovisual</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for audiovisual in audiovisuals %}
            <tr>
                <td>{{ audiovisual.id }}</td>
                <td>{{ audiovisual.rutaAudiovisual }}</td>
                <td>{{ audiovisual.pieAudiovisual }}</td>
                <td>
                    <a href="{{ path('app_audiovisual_show', {'id': audiovisual.id}) }}">show</a>
                    <a href="{{ path('app_audiovisual_edit', {'id': audiovisual.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_audiovisual_new') }}">Create new</a>
{% endblock %}
