{% extends 'base.html.twig' %}

{% block title %}Seccion index{% endblock %}

{% block body %}
    <h1>Seccion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TituloSeccion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seccion in seccions %}
            <tr>
                <td>{{ seccion.id }}</td>
                <td>{{ seccion.tituloSeccion }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_seccion_show', {'id': seccion.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('app_seccion_edit', {'id': seccion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_seccion_new') }}">Create new</a>
{% endblock %}
