{% extends 'base.html.twig' %}

{% block title %}Seccion{% endblock %}

{% block body %}
    <h1>Seccion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seccion.id }}</td>
            </tr>
            <tr>
                <th>TituloSeccion</th>
                <td>{{ seccion.tituloSeccion }}</td>
            </tr>
        </tbody>
    </table>

  
    <a class="btn btn-primary" href="{{ path('app_seccion_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('app_seccion_edit', {'id': seccion.id}) }}">edit</a>

    {{ include('seccion/_delete_form.html.twig') }}   
    
{% endblock %}
