{% extends 'base.html.twig' %}

{% block title %}Cita index{% endblock %}

{% block body %}
    <h1>Cita index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TipoPadre</th>
                <th>FkSeccion</th>
                <th>FkApartado</th>
                <th>FkSubapartado</th> 
                <th>ContenidoCita</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cita in citas %}
            <tr>
                <td>{{ cita.id }}</td>
                <td>{{ cita.tipoPadre }}</td>
                <td>{{ cita.fkSeccion }}</td>
                <td>{{ cita.fkApartado }}</td>
                <td>{{ cita.fkSubapartado }}</td>
                <td>{{ cita.contenidoCita }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_cita_show', {'id': cita.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('app_cita_edit', {'id': cita.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_cita_new') }}">Create new</a>
{% endblock %}
