{% extends 'base.html.twig' %}

{% block title %}Cita{% endblock %}

{% block body %}
    <h1>Cita</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cita.id }}</td>
            </tr>
            <tr>
                <th>TipoPadre</th>
                <td>{{ cita.tipoPadre }}</td>
            </tr>
            <tr>
                <th>FkSeccion</th>
                <td>{{ cita.fkSeccion }}</td>
            </tr>
            <tr>
                <th>FkApartado</th>
                <td>{{ cita.fkApartado }}</td>
            </tr>
            <tr>
                <th>FkSubapartado</th>
                <td>{{ cita.fkSubapartado }}</td>
            </tr>
            <tr>
                <th>ContenidoCita</th>
                <td>{{ cita.contenidoCita }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_cita_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('app_cita_edit', {'id': cita.id}) }}">edit</a>

    {{ include('cita/_delete_form.html.twig') }}
{% endblock %}
