{% extends 'base.html.twig' %}

{% block title %}Cita{% endblock %}

{% block body %}
    <h1>Cita</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ citum.id }}</td>
            </tr>
            <tr>
                <th>TipoPadre</th>
                <td>{{ citum.tipoPadre }}</td>
            </tr>
            <tr>
                <th>ContenidoCita</th>
                <td>{{ citum.contenidoCita }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cita_index') }}">back to list</a>

    <a href="{{ path('app_cita_edit', {'id': citum.id}) }}">edit</a>

    {{ include('cita/_delete_form.html.twig') }}
{% endblock %}
